
<h2>Enter Currency Code and User Name</h2>

<p>
  Currency Code:
  <input type="text" [(ngModel)]="currencyCode" name="currencyCode" />
</p>

<p>
  User Name:
  <input type="text" [(ngModel)]="userName" name="userName" />
</p>

<button (click)="getCurrencyValue()">Get Currency Value</button>


<div *ngIf="currencyValue !== null">
  <h2>Result</h2>
  <p>Currency Code: {{ currencyCode }}</p>
  <p>User Name: {{ userName }}</p>
  <p>Value: {{ currencyValue }}</p>
</div>

<h2>Saved Requests</h2>
<ul>
  <li *ngFor="let request of requests">
    <p>Currency Code: {{ request.currencyCode }}</p>
    <p>User Name: {{ request.personName }}</p>
    <p>Date: {{ request.date }}</p>
    <p>Value: {{ request.currencyExchangeRate }}</p>
  </li>
</ul>

